---
import LinkButton from './LinkButton.astro';

interface Venue {
  name: string;
  address?: string;
  googleMapsLink?: string;
}

interface Props {
  eventNumber: number;
  date: Date;
  primaryVenue: Venue;
  secondaryVenues?: Venue[];
  attendees: string[];
}

const { eventNumber, date, primaryVenue, secondaryVenues } = Astro.props;
---

<li class="event">
  <div class="event-number">
    {eventNumber.toString().padStart(3, '0')}
  </div>
  <div class="details">
    <h2>{primaryVenue.name}</h2>
    <time datetime={date.toISOString()}>
      {date.toLocaleDateString('en-GB', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      })}
    </time>
    {primaryVenue.googleMapsLink && (
      <LinkButton href={primaryVenue.googleMapsLink} target="_blank" rel="noopener nofollow">Open in Maps</LinkButton>
    )}
    {secondaryVenues && secondaryVenues.length > 0 && (
      <ul class="secondary-venues">
        {secondaryVenues.map((venue) => (
          <li>
            <span>{venue.name}</span>
            {venue.googleMapsLink && (
              <a href={venue.googleMapsLink} target="_blank" rel="noopener nofollow">Open in Maps</a>
            )}
          </li>
        ))}
      </ul>
    )}
  </div>
</li>

<style>
  .event {
    border: 2px solid var(--stark-white);
    padding: var(--space-l);
    display: flex;
    align-items: center;
    gap: var(--space-l);
  }

  .event-number {
    font-family: var(--font-display);
    font-size: var(--step-5);
    color: var(--mustard-yellow);
  }

  .details h2 {
    font-size: var(--text-section);
  }

  .details time {
    opacity: 0.7;
    display: block;
    margin: var(--space-2xs) 0;
  }

  .secondary-venues {
    list-style: none;
    padding: 0;
    margin: var(--space-s) 0 0;
    opacity: 0.7;
    font-size: var(--step--1);
  }

  .secondary-venues li {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    margin: var(--space-3xs) 0;
  }

  .secondary-venues a {
    text-decoration: underline;
  }
</style>
