---
import '@fontsource-variable/oswald';
import '@fontsource-variable/inter';
import '../styles/global.css';

import oswaldFontUrl from '@fontsource-variable/oswald/files/oswald-latin-wght-normal.woff2?url';
import interFontUrl from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';

const siteTitle = 'Meat Up';
const tagline = 'We have the meats.';
const ogImageUrl = Astro.site
	? new URL('/social-share.jpg', Astro.site).toString()
	: '/social-share.jpg';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preload" href={oswaldFontUrl} as="font" type="font/woff2" crossorigin />
		<link rel="preload" href={interFontUrl} as="font" type="font/woff2" crossorigin />
		<!-- TODO: create a favicon -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{siteTitle}</title>

		<meta name="description" content={tagline} />

		<meta property="og:type" content="website" />
		<meta property="og:title" content={siteTitle} />
		<meta property="og:description" content={tagline} />
		<meta property="og:image" content={ogImageUrl} />
		<meta property="og:image:alt" content="Delicious hot dog from Meat Up" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="801" />
		<meta property="og:site_name" content={siteTitle} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={siteTitle} />
		<meta name="twitter:description" content={tagline} />
		<meta name="twitter:image" content={ogImageUrl} />
	</head>
	<body>
		<slot />
	</body>
</html>
